<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.vetservefirebase">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PetOwnerProfile.ChangePasswordActivity"
            />
        <activity android:name=".PetDashboard.PetDashboardActivity" />
        <activity android:name=".AddPet.AddPetActivity"
            android:parentActivityName=".PetDashboard.PetDashboardActivity" />
        <activity android:name=".SignUp.SignUpActivity" />
        <activity android:name=".SignUp.Personal_Information" />

        <activity android:name=".SignIn.SignInActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>